@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Roboto+Mono:ital@1&display=swap');


.other-features{
    /* background-color: rgba(0, 128, 0, 0.5); */
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10%;
}
.other-features a{
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    height: 70px;
    color: rgb(77, 73, 73);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(85, 78, 78);
    border-radius: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(221, 243, 191); */
    background-color: #f1ecec;
}

.other-features a:hover{
    font-weight: bolder;
    transform: scale(1);

}
#eyeIcon{
    cursor: pointer;
}
.box-heading img{
    margin-right: 5%;
}
.captcha {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.captcha input {
    flex: 1;
    margin-right: 10px;
}

.captchaImage {
    max-width: 100px;
    font-family: 'Roboto Mono', monospace;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: line-through;
    font-weight: 500;
    font-size: x-large;
    user-select: none;
    font-style: italic;
    background-color: rgb(206, 195, 181);
    box-shadow: 2px 2px 2px 2px rgb(212, 168, 132)
}

.login-form div{
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}
.login-form div input{
    border: 2px solid black;
    border-radius: 5px;
    width: 25vw;
    height: 40px;
    padding: 10px;
}
.login-form div i{
    font-size: larger;
    margin-right: 5%;
    margin-left: 5%;
}
.container{
    border: 2px solid black;
    border-radius: 25px; 
    padding : 10px;
    box-shadow: 2px 2px 2px 2px rgb(189, 223, 187);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: rgb(244, 237, 237);
}
.container:hover{
    box-shadow: 4px 4px 4px 4px rgb(162, 181, 160);
}
.outer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-image: url("images/img0.jpg");
    background-size: cover;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box-heading{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 25px;
}
.box-heading h1{
    text-decoration: underline;
    font-weight: 800;
}
.nsut-logo{
    width: 15%;
}

#studentSubmit{
    margin: 5% 5%;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 5px solid red;
    transition: background-color 0.25s ease-in-out;
    font-weight: 900;
    font-size: larger;
    background-color: rgb(234, 207, 194);
}

#studentSubmit:hover{
    background-color: black;
    color: white;
}